.header {
  text-align:center;
  width: 100%;
  background-image: linear-gradient(360deg,rgba(255,0,0,0),  rgb(19, 99, 64));
}

.card-img-top{
  height: 200px;
  width: 200px;
}

form {
  /* margin-left: 37%; */
  margin-bottom: 10px;
}